<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="create-post">
            <form method="post" action="/posts" >
            <input type="text" placeholder="Username" name="username" required>
            <textarea placeholder="Caption" rows="3" name="caption" required></textarea>
            <input type="text" placeholder="Image URL" name="src" required>
             <button>Create Post</button>
            </form>
            
        </div>
    </div>
   
</body>
</html>